{% extends 'base.html' %}

{% block title %} Películas {% endblock %}

{% block content %}

<p><h2 style="display:inline;">Título: </h2><h1 style="display:inline;color:blue">{{infopeli}}</h1></p>
<p><h2 style="display:inline">Año de Estreno: </h2><h2 style="display:inline;color:blue">{{infopeli.agno_estreno}}</h2></p>
<p><h2 style="display:inline">Director: </h2><h2 style="display:inline;color:blue"><a href="/{{urlDirector}}">{{infopeli.director}}</a></h2></p>
<p><h2>Sinopsis: </h2><h4>{{infopeli.sinopsis}}</h4></p>


{% endblock %}